Language: Cpp

# to apply these settings on git commit on changed lines only, the easiest way
# is to use pre-commit; read .pre-commit-config.yaml for details.
# 
# Another way is this pre-commit hook: https://github.com/barisione/clang-format-hooks
# clone it somewhere, run '/path/to/clone/git-pre-commit-format install'

# closest to our legacy style...
BasedOnStyle: Microsoft
IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never

# do not mess with includes
SortIncludes: false

# the code has them more often than not, and this follows the astyle config
# f( x ) instead of f(x)
SpacesInParentheses: true

# we have more "int* x" than "int *x" (or "int * x")
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true

#AllowAllConstructorInitializersOnNextLine: true
