image: docker:19.03.0

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

stages:
  - build

build_image:
  stage: build
  services:
  - docker:19.03.0-dind
  script:
    - docker build .
  only:
    - master
    - legacy_0.2.8
    - legacy_0.2.8.3
