SHARED_OTHER_LDFLAGS = -lxml2 -lz -lpthread -liconv -lm
SHARED_LIBRARY_SEARCH_PATHS = "$(SYMROOT)/$(CONFIGURATION)" /Library/Frameworks/ArmagetronAdvanced/current
SHARED_HEADER_SEARCH_PATHS = $(SYMROOT)/Generated/src/protobuf $(SYMROOT)/Generated/src/macosx ../src/tron ../src/tools ../src/engine/sound /usr/include/libxml2 /Library/Frameworks/ArmagetronAdvanced/current/include
GCC_C_LANGUAGE_STANDARD = c99
SHARED_OTHER_CPLUSPLUSFLAGS = -Wno-long-double

GCC_VERSION = 4.0

SDKROOT_ppc = $(DEVELOPER_SDK_DIR)/MacOSX10.3.9.sdk
MACOSX_DEPLOYMENT_TARGET_ppc = 10.3

SDKROOT_i386 = $(DEVELOPER_SDK_DIR)/MacOSX10.4u.sdk
MACOSX_DEPLOYMENT_TARGET_i386 = 10.4
